<%-include('../../views/partials/user/_header')%>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span>
                <a href="/shop" rel="nofollow">Shop</a>
                <span></span> Your Cart
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <% if(cart?.items?.length >0){ %>

                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <%for(let i=0;i < cart.items.length;i++){ %>
                                <tr id="mainId<%= cart.items[i].productId._id %>">
                                    <td class="image product-thumbnail"><img src="/uploads/products-images/<%= cart.items[i].productId.productImage[0] %>" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href=""><%=cart.items[i].productId.productTitle%></a></h5>
                                         
                                    </td>
                                    <td class="price" data-title="Price"><span><%=cart.items[i].price%></span></td>
                                    <td class="text-center" data-title="Stock">
                                        <div class="detail-qty border radius  m-auto">
                                            <a class="qty-down" onclick="changeQuantity('<%= cart.items[i].productId._id %>','down')"><i class="fi-rs-angle-small-down"></i></a>
                                            <span id="qty-val<%= cart.items[i].productId._id %>" class="qty-val"><%=cart.items[i].quantity %></span>

                                            <a  class="qty-up" onclick="changeQuantity('<%= cart.items[i].productId._id %>','up')"><i class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <span id="totalPrice<%= cart.items[i].productId._id %>"><%=cart.items[i].totalPrice%></span>
                                    </td>
                                    <td class="action" data-title="Remove"><a  class="text-muted" onclick="removeCart('<%= cart.items[i].productId._id %>')"><i class="fi-rs-trash"></i></a></td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                        
                    </div>
                    <div class="cart-action text-end">
                        <a class="btn " href="/"><i class="fi-rs-shopping-bag mr-10" ></i>Continue Shopping</a>
                        <a class="btn  mr-10 mb-sm-15" href="/checkout"><i class="fi-rs-shuffle mr-10"></i>checkOut</a>
                    </div>
                    <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                    
                </div>
                <%}else{ %>
                    <p class="text-center"><small>your cart is empty</small></p>
                <%}%>
            </div>
        </div>
    </section>
</main>
<%-include('../../views/partials/user/_footer')%>


<script>


    async function removeCart(productId) {
        Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
        }).then(async(result) => {
        if (result.isConfirmed) {

            const responce = await fetch("/cart/removeCart",{
            method:"DELETE",
            headers:{"Content-Type":"application/json"},
            body:JSON.stringify({
                productId
            })
        })

            const jsonResponce = await responce.json()
            if(responce.ok){
                sweetAlert(jsonResponce.message,"")
                document.getElementById("mainId"+productId).remove()
            document.getElementById("cartCount").innerText = parseInt(document.getElementById("cartCount").innerText) -1

            }else{
                sweetAlert(jsonResponce.message,"")
            }
        }
        });
        
    }

  async  function  changeQuantity (productId,action){
        
        let quantityValue = parseInt(document.getElementById("qty-val"+productId).innerHTML)
        if(action =="up"){
            quantityValue +=1
            console.log(quantityValue)
            if(quantityValue >5){
                sweetAlert("you can only order upto 5 ","quantity excided")
                document.getElementById("qty-val"+productId).innerHTML = 5
            }else{
            const apiResponce = await apiCall(quantityValue)


            }
        }else if(action == "down"){
            quantityValue -=1
            console.log(quantityValue)
            if(quantityValue <=0){
                sweetAlert("quantity cannot be zero","quantity excided")
                document.getElementById("qty-val"+productId).innerHTML = 1
            }else{
            const apiResponce = await apiCall(quantityValue)

        }
    }
    
  async  function apiCall(quantity){
        const responce = await fetch("/cart/updatecart",{
            method:"PATCH",
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify({
                productId:productId,
                quantity : quantity
            })
        })

        const jsonResponce = await responce.json()
        if(responce.ok){
            document.getElementById("qty-val"+productId).innerHTML = jsonResponce.quantity
            document.getElementById("totalPrice"+productId).innerHTML = jsonResponce.totalPrice
            sweetAlert("cart updated successfully","")
        }else{
            sweetAlert(jsonResponce.message,"")
        }


    }
    }


    function sweetAlert(message,title){
        Swal.fire({
        icon: "success",
        title: message,
        showConfirmButton: true,
        timer: 1500
        });
    }
</script>
