
<%-include('../../views/partials/user/_header')%>
    
    <main class="main">       
        
        <!-- <section class="featured section-padding position-relative">            
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-1.png" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-2.png" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-3.png" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-4.png" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-5.png" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-6.png" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="bg-square"></div>
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <!-- <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button> -->
                        </li>
                        <li class="nav-item" role="presentation">
                            <!-- <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button> -->
                        </li>
                        <li class="nav-item" role="presentation">
                            <!-- <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button> -->
                        </li>
                    </ul>
                    <a href="/shop" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            
                            <%for(let i=0;i<locals.product.length;i++){%>
                                
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/product/<%= locals.product[i]._id %>">
                                                    <img class="default-img" src="/uploads/products-images/<%=product[i].productImage[0]%>" alt="">
                                                    <img class="hover-img" src="/uploads/products-images/<%=product[i].productImage[1]%>" alt="">
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <!-- <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a> -->
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%=locals.product[i]._id%>')"><i class="fi-rs-heart"></i></a>
                                                <!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">Hot</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="shop-grid-right.html">Books</a>
                                            </div>
                                            <h2><a href="shop-product-right.html"><%=locals.product[i].productTitle%></a></h2>
                                            <div class="rating-result" title="90%">
                                                <span>
                                                    <span>90%</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span><%=product[i].salePrice%></span>
                                                <span class="old-price"><%=product[i].regularPrice%></span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%=product[i]._id%>')"><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <%}%>

                            
                        </div>
                        <!--End product-grid-4-->
                    </div>
                   
                </div>
                <!--End tab-content-->
            </div>
        </section>
        
    </main>

<script>

    function showAlert(icon,title,text) {
        Swal.fire({
        title: title,
        text: text,
        icon: icon
        });
    }
    async function addToWishlist(productId) {
        console.log("evide unde")
        const response = await fetch('/api/wishlist',{
            method:"POST",
            headers:{'Content-Type':"application/json"},
            body:JSON.stringify({productId})
        })
        
        if(response.redirected){
                window.location = response.url
        }
        const jsonResponce = await response.json()

        if(response.ok){
            showAlert("success",jsonResponce.message,"")
        
            document.getElementById("wishlist").innerText = parseInt(document.getElementById("wishlist").innerText) +1
        }else{
            showAlert("error",jsonResponce.error,"")

        }
        
    }

    async function addToCart(productId){
        const responce =await fetch('/cart/addToCart',{
            method:'POST',
            headers:{"Content-Type":"application/json"},
            body:JSON.stringify({
                productId:productId,
                quantity:1
            })
        })

        // when the user was not logedin . the middlware was redirecting to login page 
        // so at that time i got the error . using this it is solved
        // if user is loged in redirected will be false 
        if(responce.redirected){
                window.location = responce.url
        }
            
        const jsonResponce = await responce.json()
        if(responce.ok){
            Swal.fire({
            title: "Good job!",
            text: jsonResponce.message,
            icon: "success"
            });
            document.getElementById("cartCount").innerText = parseInt(document.getElementById("cartCount").innerText) +1

        }else{
            Swal.fire({
            title: "Error",
            text: jsonResponce.message,
            icon: "error"
            });
        }
    }

</script>
    <%-include('../../views/partials/user/_footer')%>