<%-include('../../views/partials/user/_header')%>

<style>
    figure {
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

figure img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.drift-zoom-pane {
  border-radius: 50% !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
</style>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> shop
                <span></span> <%=product.productTitle%>
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-12">
                    <div class="product-detail accordion-detail">
                        <div class="row mb-50">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    <!-- MAIN SLIDES -->
 <!-- Zoomable Image Container -->
<div class="drift-container">
    <img 
      id="main-image" 
      src="/uploads/products-images/<%= product.productImage[0] %>" 
      data-zoom="/uploads/products-images/<%= product.productImage[0] %>" 
      class="zoom-target" 
      width="400" 
      alt="Zoomable image" />
  </div>
  
  <!-- Thumbnails -->
  <ul class="thumbnails mt-3 d-flex gap-2">
    <% for (let i = 0; i < product.productImage.length; i++) { %>
      <li>
        <img 
          class="thumb-img" 
          src="/uploads/products-images/<%= product.productImage[i] %>" 
          data-zoom="/uploads/products-images/<%= product.productImage[i] %>" 
          width="75" />
      </li>
    <% } %>
  </ul>
  
  
                                </div>
                                <!-- End Gallery -->
                                <div class="social-icons single-share">
                                    <ul class="text-grey-5 d-inline-block">
                                        <li><strong class="mr-10">Share this:</strong></li>
                                        <li class="social-facebook"><a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                        <li class="social-twitter"> <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                        <li class="social-instagram"><a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                        <li class="social-linkedin"><a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h2 class="title-detail"><%=product.productTitle%></h2>
                                    <div class="product-detail-rating">
                                        <div class="pro-details-brand">
                                            <span> Author: <a href="shop-grid-right.html"><%=product.authorname%></a></span>
                                        </div>
                                        <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width:90%">
                                                </div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                        </div>
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            <ins><span class="text-brand"><%=product.salePrice%></span></ins>
                                            <ins><span class="old-price font-md ml-15"><%=product.regularPrice%></span></ins>
                                            <!-- <span class="save-price  font-md color3 ml-15">25% Off</span> -->
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p><%=product.description%></p>
                                    </div>
                                    <div class="product_sort_info font-xs mb-30">
                                        <ul>
                                            <!-- <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand Warranty</li> -->
                                            <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                            <li class="mb-10"><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            <% if(locals.product?.quantity ==0) { %>
                                                <span class="hot">Out Of Stock</span>
                                             <%   }else{%>
                                                <li class=""><i class="fi-rs-credit-card mr-5"></i>only <%=locals.product?.quantity %> units left </li>
                                                
                                                <%}%>
                                        </ul>
                                    </div>
                                    
                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                    <div class="detail-extralink">
                                        <!-- <div class="detail-qty border radius">
                                            <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                            <span class="qty-val">1</span>
                                            <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                        </div> -->
                                        <div class="product-extra-link2">
                                            <button type="submit" class="button button-add-to-cart" onclick="addToCart('<%=product._id%>')">Add to cart</button>
                                            <!-- <a aria-label="Add To Wishlist" class="action-btn hover-up" ><i class="fi-rs-heart"></i></a> -->
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%=product._id%>')"><i class="fi-rs-heart"></i></a>

                                            <!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- Detail Info -->
                            </div>
                        </div>
                        <div class="tab-style3">
                            <ul class="nav nav-tabs text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">Description</a>
                                </li>
                                <li class="nav-item">
                                    <!-- <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info">Additional info</a> -->
                                </li>
                                <li class="nav-item">
                                    <!-- <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">Reviews (3)</a> -->
                                </li>
                            </ul>
                            <div class="tab-content shop_info_tab entry-main-content">
                                <div class="tab-pane fade show active" id="Description">
                                    <div class="">
                                        <p><%=product.description%></p>
                                        <p>Spluttered narrowly yikes left moth in yikes bowed this that grizzly much hello on spoon-fed that alas rethought much decently richly and wow against the frequent fluidly at formidable acceptably flapped
                                            besides and much circa far over the bucolically hey precarious goldfinch mastodon goodness gnashed a jellyfish and one however because.
                                        </p>
                                        <ul class="product-more-infor mt-30">
                                            <li><span>Page</span> 300</li>
                                            <li><span>cover</span> Hard Cover</li>
                                            <li><span>Author Name</span> <%=product.authorname%></li>
                                            <!-- <li><span>category</span> <%product.productName%></li> -->
                                            <!-- <li><span>Piece In One</span> Carton</li> -->
                                        </ul>
                                        
                                    </div>
                                </div>
                               
                                </div>
                            </div>
                        </div>
                        <div class="row mt-60">
                            <div class="col-12">
                                <h3 class="section-title style-1 mb-30">Related products</h3>
                            </div>
                            <div class="col-12">
                                <div class="row related-products">
                                    <%for(let i=0;i<locals.realtedProducts.length;i++){%>
                                
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap mb-30">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="/product/<%= locals.realtedProducts[i]._id %>">
                                                            <img class="default-img" src="/uploads/products-images/<%=realtedProducts[i].productImage[0]%>" alt="">
                                                            <img class="hover-img" src="/uploads/products-images/<%=realtedProducts[i].productImage[1]%>" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <!-- <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a> -->
                                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%=locals.realtedProducts[i]._id%>')"><i class="fi-rs-heart"></i></a>
                                                        <!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <% if(locals.product[i]?.quantity ==0) { %>
                                                            <span class="hot">Out Of Stock</span>
                                                        <% } else  {%>
                                                            <span class="hot"><%=locals.product[i]?.productOffer?.discountPercentage || 0%> %</span>
                                                        <%  }   %>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <div class="product-category">
                                                        <a href="/product/<%= locals.realtedProducts[i]._id %>"><%=locals.realtedProducts[i].category.name%></a>
                                                    </div>
                                                    <h2><a href="/product/<%= locals.realtedProducts[i]._id %>"><%=locals.realtedProducts[i].productTitle%></a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                            <span><%=locals.realtedProducts[i].productOffer.discountPercentage || 0 %> %</span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span><%=realtedProducts[i].salePrice%></span>
                                                        <span class="old-price"><%=realtedProducts[i].regularPrice%></span>
                                                    </div>
                                                    <div class="product-action-1 show">
                                                        <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%=realtedProducts[i]._id%>')"><i class="fi-rs-shopping-bag-add"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <%}%>
                                    
                                </div>
                            </div>
                        </div>
                         

                    </div>
                </div>
                
            </div>
        </div>
    </section>
</main>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/drift-zoom/dist/drift-basic.min.css">
<script src="https://cdn.jsdelivr.net/npm/drift-zoom/dist/Drift.min.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
    const mainImage = document.querySelector('#main-image');

    // Init Drift on main image
    const drift = new Drift(mainImage, {
      paneContainer: document.querySelector('.drift-container'),
      inlinePane: false,
      hoverBoundingBox: true,
      zoomFactor: 2,
      inlinePane: true,
        inlineOffsetY: -85,
        hoverBoundingBox: true
    });

    // Thumbnail image switching
    document.querySelectorAll('.thumb-img').forEach((thumb) => {
      thumb.addEventListener('click', () => {
        const newSrc = thumb.getAttribute('src');
        const newZoom = thumb.getAttribute('data-zoom');

        mainImage.setAttribute('src', newSrc);
        mainImage.setAttribute('data-zoom', newZoom);

        // Drift automatically rebinds to updated data-zoom
      });
    });
  });

    function showAlert(icon,title,text) {
        console.log("gkdhfhds")
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
            Toast.fire({
            icon: icon,
            title: title
            });
    }
    async function addToWishlist(productId) {
        console.log("evide unde")
        const response = await fetch('/api/wishlist',{
            method:"POST",
            headers:{'Content-Type':"application/json"},
            body:JSON.stringify({productId})
        })
        if(response.redirected){
                window.location = response.url
        }
        const jsonResponce = await response.json()

        if(response.ok){
            if(!jsonResponce.alreadyIn){
                document.getElementById("wishlist").innerText = parseInt(document.getElementById("wishlist").innerText) +1

            }
            showAlert("success",jsonResponce.message,"")
        
        }else{
            console.log("in erorr")
            showAlert("error",jsonResponce.error,"")

        }
        
    }

    async function addToCart(productId){
         const responce =await fetch('/cart/addToCart',{
             method:'POST',
             headers:{"Content-Type":"application/json"},
             body:JSON.stringify({
                 productId:productId,
                 quantity:1
             })
         })
         if(responce.redirected){
                window.location = responce.url
        }
         const jsonResponce = await responce.json()
         if(responce.ok){
            if(!jsonResponce.alreadyIn){
                document.getElementById("cartCount").innerText = parseInt(document.getElementById("wishlist").innerText) +1

            }
            showAlert("success",jsonResponce.message)
         }else{
            showAlert("Error",jsonResponce.message)

         }
     }
 </script>
<%-include('../../views/partials/user/_footer')%>
