<%-include('../../views/partials/user/_header')%>



    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop-product-fillter" style="justify-content: right;">
                            <div class="totall-product" style="visibility: hidden;">
                                <p> We found <strong class="text-brand">688</strong> items for you!</p>
                            </div>
                            <div class="sort-by-product-area">
                                
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> Featured <i class="fi-rs-angle-small-down" id=""></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown " id="filter">
                                        <ul>
                                            <li><a class="active" data-field="" data-order="">Show all</a></li>
                                            <li><a data-field="salePrice" data-order="1">Price: Low to High</a></li>
                                            <li><a data-field="salePrice" data-order="-1">Price: High to Low</a></li>
                                            <li><a data-field="productTitle" data-order="1">name: aA to zZ</a></li>
                                            <li><a data-field="productTitle" data-order="-1">name: zZ to aA</a></li>
                                        </ul>

                                    </div>
                                    
                                </div>
                            </div>
                            <div class="sort-by-product-area">
                                
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span id="catagory-header"> category <i class="fi-rs-angle-small-down" ></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown " id="category">
                                        <ul>
                                            <li><a class="active" data-name="" data-order="">Show all</a></li>
                                            <% category.forEach((cat)=> { %>
                                                
                                                <li><a data-name="<%=cat.name%>" data-order="1"><%=cat.name%></a></li>
                                           <% }) %>
                                            
                                        </ul>

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div onclick="" class="row product-grid-3" id="row-div">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    
<!-- Pagination -->
<div class="p-3 bg-white border-top">
    <nav aria-label="Customer list pagination" style="margin-bottom: 17px;">
      <ul class="pagination custom-pagination justify-content-center mb-0" id="pagination">
        <!-- <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1"><i class="bi bi-chevron-left"></i></a>
        </li> -->

        <!-- <% for(let i=1;i<=10;i++){%>
            <li class="page-item <%= (i==1)?'active':'' %>">
            <a class="page-link" href="?page=<%=i%>"> <%= i%></a>
            </li>
        <%}%> -->

        <!-- <li class="page-item">
        <a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a>
        </li> -->
      </ul>
    </nav>
    <!--  -->
  </div>
    <script>

        function changePage(page){
            page = page
            fetchProductDetails(search,sort,page)
        }
        async function addToWishlist(productId) {
        console.log("evide unde")
        const response = await fetch('/api/wishlist',{
            method:"POST",
            headers:{'Content-Type':"application/json"},
            body:JSON.stringify({productId})
        })
        if(response.redirected){
                window.location = response.url
        }
        const jsonResponce = await response.json()

        if(response.ok){
            showAlert("success",jsonResponce.message,"")
        
            document.getElementById("wishlist").innerText = parseInt(document.getElementById("wishlist").innerText) +1
        }else{
            showAlert("error",jsonResponce.error,"")

        }
        
    }

        const searchBar = document.querySelector('#search-bar')
        const filter = document.querySelector('#filter')
        const categoryFilter = document.querySelector('#category')
        let sort = "{}"
        let search;
        let category;
        let page;

        function showAlert(icon,title,text) {
        Swal.fire({
        title: title,
        text: text,
        icon: icon
        });
    }
        function pagination(currentpage,totalPage) {
            const parent = document.getElementById("pagination")
            parent.innerHTML = ""
            for(let i=1;i<=totalPage;i++){
                const child = document.createElement('li')
                child.classList.add('page-item')
                if(i== currentpage){
                    child.classList.add('active')
                }
                child.innerHTML = ` <a class="page-link" onclick="changePage('${i}')">${i}</a> `
                parent.appendChild(child)
            }


            
        }
    async function renderProductDetails(products){
        const parent = document.getElementById("row-div")
        parent.innerHTML = ""
            products.forEach(product =>{


                let status ;
                if(product.quantity <=0){
                    status = `<span class="hot">Out Of Stock</span>`
                }else{
                    status = `<span class="hot">${product.productOffer.discountPercentage || 0} %</span>`
                }
                const element = document.createElement("div")
                element.classList.add('col-lg-3')
                element.classList.add('col-md-4')
                element.innerHTML = `
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/product/${product._id}" >
                                                <img class="default-img" src="/uploads/products-images/${product.productImage[0]}" alt="">
                                                <img class="hover-img" src="/uploads/products-images/${product.productImage[1]}" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">

                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('${product._id}')"><i class="fi-rs-heart"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                           ${status}
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="/product/${product._id}">${product.category.name}</a>
                                        </div>
                                        <h2><a href="/product/${product._id}">${product.productTitle}</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                               <span class="hot">${product.productOffer?.discountPercentage || 0} %</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>${product.salePrice}</span>
                                            <span class="old-price">${product.regularPrice}</span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart"  class="action-btn hover-up" onclick="addToCart('${product._id}')"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>`

                parent.appendChild(element)

            })
            

    }

    async function fetchProductDetails(search="",sort='{}',page=1,category=""){
        console.log(sort)
        const response = await fetch(`/api/shop?search=${search}&sort=${sort}&page=${page}&category=${category}`,{
            method:"GET",
            headers:{"Content-Type":"application/json"},
        })
        
        const jsonResponse = await response.json()
        if(response.ok){
            console.log("yo")
            renderProductDetails(jsonResponse.productsData)
            pagination(jsonResponse.currentPage,jsonResponse.totalPages)
        }else{
            alert(jsonResponse.message)
        }
        
    }

    function debounce(func,timer){
        let timeOut;
        return function(...args){
            clearTimeout(timeOut)
            timeOut = setTimeout(() => {
                func.apply(this,args)
            }, timer);
        }
    }


    const debouncedFetch = debounce(fetchProductDetails,500)

        document.addEventListener("DOMContentLoaded",(event)=>{
            document.getElementById("search-bar").style.visibility = ""
                fetchProductDetails()

                searchBar.addEventListener('input',(e)=>{
                    search = e.target.value.trim()
                    debouncedFetch(search,sort)
                })
                
                console.log(filter)
                filter.addEventListener('click',function(e) {
                    console.log("lhk")
                    if(e.target.tagName == "A"){
                        e.preventDefault()
                        document.querySelectorAll('.sort-by-dropdown a').forEach(el => el.classList.remove('active'));
                        e.target.classList.add('active')
                        const field = e.target.getAttribute("data-field");
                        const order = parseInt(e.target.getAttribute("data-order"));
                        console.log(e.target)
                        console.log(e.target.closest('a'))
                        if(field == ""){
                           sort = JSON.stringify({ })
                        }else{
                            sort = JSON.stringify({ [field]: order })
                        }
                        debouncedFetch(search,sort,1,category)

                    }
                })
                categoryFilter.addEventListener('click',function(e) {
                    console.log("lhk")
                    if(e.target.tagName == "A"){
                        e.preventDefault()
                        document.querySelectorAll('.sort-by-dropdown a').forEach(el => el.classList.remove('active'));
                        e.target.classList.add('active')
                        
                        console.log(e.target)
                      
                        
                            category = e.target.getAttribute("data-name");
                           
                        debouncedFetch(search,sort,1,category)

                    }
                })

                
        })



    
        async function addToCart(productId){
            console.log("inside funcitonn of cart")
            const responce =await fetch('/cart/addToCart',{
                method:'POST',
                headers:{"Content-Type":"application/json"},
                body:JSON.stringify({
                    productId:productId,
                    quantity:1
                })
            })
            if(responce.redirected){
                window.location = responce.url
            }
        const jsonResponce = await responce.json()
            if(responce.ok){
                Swal.fire({
                title: "Good job!",
                text: jsonResponce.message,
                icon: "success"
                });
            document.getElementById("cartCount").innerText = parseInt(document.getElementById("cartCount").innerText) +1

            }else{
                Swal.fire({
                title: "Error",
                text: jsonResponce.message,
                icon: "error"
                });
            }


        }

    </script>
    <%-include('../../views/partials/user/_footer')%>
